

{% extends "layout.html" %}
{% block content %}

<body>
  <div class="container">

  <div class="Seattle">
    <h1>Sharina Stubbs</h1>

<!-- Buttons -->

    <div class="btn-group btn-group-lg btn-group-justified">
      
      <a href="https://github.com/SharinaS" class="btn btn-info" role="button">GitHub</a>

      <a href="https://www.facebook.com/sharinastubbs/?ref=aymt_homepage_panel" class="btn btn-info" role="button">Facebook</a>

      <a href="https://www.linkedin.com/in/sharina-stubbs-949a5bb/" class="btn btn-info" role="button">LinkedIn</a>
      
      <a href="https://www.freecodecamp.com/sharinas" class="btn btn-info" role="button">Free Code Camp</a>
    
    </div>

<!-- End Buttons -->

  </div> <!-- for 1 of Seattle pic -->

<!--</div>  keeps text of middle space out of 1st part of Seattle picture -->

<div>
  <h2>About Me</h2>
  <div class="row">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-6">
      <p2>I am an entry-level software developer. I enjoy using Python, but am constantly challenging myself to learn or improve my abilities with other languages and tools. I've also been known in the past as Dr. Sharina Brothers.</p2>
      <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8">
          <p3>I believe that human imaginations and computers are together a powerful force that will define our future.</p3>
        </div>
        <div class="col-xs-2">
        </div>
      </div> <!-- for quote section -->
      <br/>
      <p2>Languages:</p2>
         <ul>
           <li>Python</li>
           <li>Javascript</li>
           <li>HTML</li>
           <li>C++</li>
         </ul>
         <p2>Tool Expertise:</p2>
         <ul>
           <li>Responsive Web Design</li>
           <li>Tkinter</li>
           <li>Bootstrap</li>
           <li>CSS</li>
         </ul>
         <p2>More:</p2>
         <ul>
           <li>Naturopathic Doctor in US States (retired) - full time practice from 2011-2017 as Dr. Brothers</li>
         </ul>
    </div>
    <div class="col-xs-2">
      <img src="https://res.cloudinary.com/dqyprvcqj/image/upload/v1519511192/BrothersPic_s9dbfh.jpg" class="img-responsive round-picture" alt="profile picture"></img>
    </div>
      <div class ="col-xs-2">
      </div>
    </div>
  </div> <!-- for About Me white space -->
  
  <div class="Seattle"> <!-- Start 2nd Seattle pic -->
    <h2>Portfolio</h2>
    
  </div> <!-- End 2nd Seattle pic -->
  
  <div><p>middle space</p></div>
  <div class="Seattle"><p>third div!</p>
  </div>
</div>
</body>

  
  {% endblock %}
